<html>
<head>
    <title>Stringency</title>
</head>

<body>
<style>

 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
</style>

<p>Today is {{ date }}!</p>
<p>Latest date in db: {{ db_date }}</p>


<form method="post" action="">
    {{ form.csrt_token }}
    {{ form.dt(class="datepicker") }} {{form.hidden_tag()}}
    {{form.submit()}}

</form>

<table>
  <thead>
    <tr>
        <th>date</th>
        <th>country</th>
        <th>confirmed</th>
        <th>deaths</th>
        <th>stringency_actual</th>
        <th>stringency</th>
    </tr>
    </thead>
    <tbody>
     {% for row in data %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>

</html>
